.flex {
  display: flex;
}
.pos-abs {
  position: absolute;
}
.pos-re {
  position: relative;
}
.pos-fix {
  position: fixed;
}
.width {
  width: 100%;
}
.a {
  text-decoration: none;
}
.bold {
  font-weight: bold;
}
.footer-back {
  background-color: rgba(152, 223, 240, 0.7);
}
.bor-bot {
  border-bottom: .1rem solid #dddddd;
}
.bor-radius {
  border-radius: .5rem;
}
html,
body {
  font-size: 62.5%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  font-size: 2rem;
  padding: 0 2rem;
  border-bottom: .1rem solid #dddddd;
  color: #fff;
  background: #29bde0;
}
.home,
.tip {
  width: 3rem;
  height: 3rem;
}
.home {
  background: url(image/结果/home.png) no-repeat 50%;
  background-size: auto 2.5rem;
}
.tip {
  background: url(image/结果/tip.png) no-repeat 50%;
  background-size: auto 2.5rem;
}
/*end footer*/
/*main*/
main {
  margin: 5rem 0 7rem;
}
.result {
  padding: 2rem 2rem 1rem;
  background: #29bde0;
}
.winer {
  height: 16rem;
  padding-top: 9.5rem;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  background: url(image/结果/win.png) no-repeat 50% 10%;
  background-size: auto 13rem;
}
.win-tip {
  margin: 1rem 0 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: #ffc865;
}
.result ul li {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #fff;
  list-style: none;
}
.course {
  padding: .5rem 2rem 1rem;
  border-bottom: .1rem solid #dddddd;
}
.course li {
  list-style: none;
  margin: .5rem 0;
  font-size: 1.5rem;
  color: #a6a6a6;
}
.main-top {
  display: flex;
  justify-content: space-between;
}
.day {
  font-size: 1.7rem;
  font-weight: bold;
  color: #000;
}
.time {
  color: #d5d5d5;
}
/*end main*/
/*footer*/
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.background {
  position: relative;
  width: 100%;
  height: 7rem;
  background-color: rgba(152, 223, 240, 0.7);
}
.footer-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 1rem;
  width: 100%;
}
.btn1,
.btn2 {
  width: 40%;
  margin: 0 1rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #fff;
  border-radius: .5rem;
}
.btn1 {
  background-color: #f66f6f;
  border: 0.1rem solid #f66f6f;
}
.btn2 {
  background-color: #fbb435;
  border: 0.1rem solid #fbb435;
}
