
<div class="form_top">
	<div class="form_1">
		<b>发布时间</b>
		<div ng-controller="myDate" class="date_form">
			<input type="text" class="date_list form-control" uib-datepicker-popup="{{format}}" ng-model="dat" is-open="popup1.opened" ng-required="true" close-text="关闭" clear-text="清空" current-text="今天" alt-input-formats="altInputFormats" />
			<div class="input-group-btn" style="width:auto;">
				<button type="button" class="btn btn-default" ng-click="open1()">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
			</div>
		</div>
		<div class="line"></div>
		<div ng-controller="myDate" class="date_form">
			<input type="text" class="date_list form-control" uib-datepicker-popup="{{format}}" ng-model="dat" is-open="popup1.opened" ng-required="true" close-text="关闭" clear-text="清空" current-text="今天" alt-input-formats="altInputFormats" />
			<div class="input-group-btn" style="width:auto;">
				<button type="button" class="btn btn-default" ng-click="open1()">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="form_2">
		<b class="mar-left">类&emsp;&emsp;型</b>
		<select class="form-control">
			<option>
				<a href="#">全部</a>
			</option>
			<option>
				<a href="#">首页Banner</a>
			</option>
			<option>
				<a href="#">找职位Banner</a>
			</option>
			<option>
				<a href="#">找精英Banner</a>
			</option>
			<option>
				<a href="#">行业大图</a>
			</option>
		</select>
	</div>
	<div class="form_3">
		<b class="mar-top">状&emsp;&emsp;态</b>
		<select class="form-control mar-top">
			<option>
				<a href="#">全部</a>
			</option>
			<option>
				<a href="#">上线</a>
			</option>
			<option>
				<a href="#">草稿</a>
			</option>
		</select>
	</div>
	<div class="form_btn">
		<button type="button" class="btn btn-danger mar-right">清空</button>
		<button type="button" class="btn btn-success">搜索</button>
	</div>
</div>
<div class="form_list">
	<span class="form_list_title">
		<b>Article列表</b>
		<a data-ui-sref="home.newArticle">
			<button type="button" class="btn btn-success">+新增</button>
		</a>
	</span>
	<div class="form_list_main">
		<table class="table" ng-controller="myList" >
			<tr>
				<th>ID</th>
				<th>名称</th>
				<th>类型</th>
				<th>发布时间</th>
				<th>修改时间</th>
				<th>发布者</th>
				<th>状态</th>
				<th>操作</th>
			</tr>
			<tr ng-repeat="x in lists.articleList">
				<td>{{x.id}}</td>
				<td>{{x.title}}</td>
				<td>{{x.type}}</td>
				<td>{{x.createAt}}</td>
				<td>{{x.updateAt}}</td>
				<td>{{x.author}}</td>
				<td>{{x.status}}</td>
				<td>
					<a href="#">下线</a>&emsp;
					<a href="#">编辑</a>&emsp;
					<a href="#">删除</a>
				</td>
			</tr>
		</table>
	</div>
	<nav aria-label="Page navigation" class="nav_page" ng-controller="myList">
	  	<ul class="pagination pagination-sm">
			<li class="list_pages">
				显示<input type="text" value="10"/>条
				<button type="button" name="button">显示</button>
			</li>
		    <li>
		      <a href="" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
		    <li ng-repeat="x in pages" >
				<a ng-click="page_x(x)" href="">{{x}}</a>
			</li>
		    <li>
		      <a href="" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
			<li class="jump_pages">
				去第<input type="text" />页
				<button type="button" name="button">跳转</button>
			</li>
	  	</ul>
	</nav>
</div>
