<div class="create_new_article" ng-controller="formUp">
	<p class="new_title">{{editName}}Article</p>
	<div class="new_article_mess">
		<form class="form-horizontal" name="myForm" novalidate>

			<div>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">标题名称</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="title" ng-model="title" required>
						<b class="errorInfo" name="titile" ng-show="myForm.title.$error.required">*此项为必填项</b>
					</div>
				</div>

				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">类&emsp;&emsp;型</label>
					<div class="col-sm-10">
						<select class="form-control" ng-model="type" name="type" required ng-options="typeOptions.id as typeOptions.name for typeOptions in typeOptions">
						</select>
						<b class="errorInfo" ng-show="myForm.type.$error.required">*此项为必填项</b>
					</div>
				</div>

				<div class="form-group" ng-show="type === '3'">
					<label for="inputEmail3" class="col-sm-2 control-label">行&emsp;&emsp;业</label>
					<div class="col-sm-10">
						<select class="form-control" ng-model="industry" name="industry" required ng-options="industryOptions.id as industryOptions.name for industryOptions in industryOptions">
						</select>
						<b class="errorInfo" ng-show="myForm.industry.$error.required">*此项为必填项</b>
					</div>
				</div>


				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">说&emsp;&emsp;明</label>
					<div class="col-sm-10">
						<!-- 富文本编辑器 -->
						<div id="editor">
						</div>
					</div>

				</div>

				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">跳转链接</label>
					<div class="col-sm-10">
						<input type="url" name="aaa" ng-model="imgLink" class="form-control" required/>
						<b class="errorInfo" ng-show="myForm.aaa.$error.required">*此项为必填项</b>
						<b class="errorInfo" ng-show="myForm.aaa.$error.url">*链接格式不正确</b>
					</div>
				</div>
			</div>

			<div img-directive>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">配&emsp;&emsp;图</label>
					<div class="col-sm-10">
						<input type="file" name="img" class="imgUp" onchange="angular.element(this).scope().showImg(this)" accept="image/*" required/>
						<b class="errorInfo" ng-show="myForm.img.$error.required">*图片不能为空</b>
						<br/>
						<img class="look" src="{{lookUrl}}" id="showView" alt="图片预览区"></img>
					</div>
				</div>

				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">&emsp;&emsp;&emsp;&emsp;</label>
					<div class="col-sm-10">
						<table class="table">
							<tr>
								<th>图片名</th>
								<th>文件大小</th>
								<th>进度</th>
								<th>操作</th>
								<th>详细</th>
							</tr>
							<tr ng-repeat="x in files">
								<th>{{x.name}}</th>
								<th>{{x.size|size}}</th>
								<th>
									<div ng-class="{progress: true, 'progress-striped': vm.striped}" ng-style="{width: vm.wid}" class="pg">
										<div ng-class="['progress-bar', vm.style]" ng-style="{width: vm.value + '%'}">
											<div ng-if="vm.showLabel">{{vm.value}}%</div>
										</div>
									</div>
								</th>
								<th>
									<button class="btn btn-success nopad" ng-click="imgGo()">上传</button>
									<button class="btn btn-danger nopad" ng-click="imgDel()">删除</button>
								</th>
								<th>{{x.type}}</th>
							</tr>
						</table>
					</div>
				</div>

				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">&emsp;&emsp;&emsp;&emsp;</label>
					<div class="col-sm-10 bot_btn">
						<div class="left">
							<button class="btn btn-success" ng-click="upLoad(2)">立即上线</button>
							<button class="btn btn-success" ng-click="upLoad(1)">存为草稿</button>
						</div>
						<button class="btn btn-default" ng-click="cancel()">取消</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>