html, body{
	font-size: 62.5%;
	margin: 0;
	background: #fafafa;
}
/*header-top*/
.top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15%;
	height: 3rem;
	width: 100%;
	background: #fff;
}
.top p{
	margin: 0;
	color: #29b078;
}
.top-logo{
	display: flex;
	justify-content: flex-start;
}
.wexin{
	width: 2.5rem;
	height: 2.4rem;
	background: url(image/sce/wexin.png) no-repeat 50% 50%;
}
.qq{
	width: 2.5rem;
	height: 2.4rem;
	background: url(image/sce/qq.png) no-repeat 50% 50%;
}
.sina{
	width: 2.5rem;
	height: 2.4rem;
	background: url(image/sce/sina.png) no-repeat 50% 50%;
}
/*header-two*/
.header-two{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15%;
	height: 6rem;
	background-color: #29b078;
}

.option{
	height: 6rem;
	font-size: 1.5rem;
	font-weight: bold;
	color: #FFF;
}
.option-1{
	line-height: 6rem;
	padding: 2.2rem 2rem;
	color: #FFF;
}
.option-1:hover{
	border-bottom: .2rem solid #FFF;
	border-top: .2rem solid transparent;
	text-decoration: none;
	color: #FFF;
}
.option-1:focus{
	text-decoration: none;
	color: #FFF;
}

/*header-end*/
.header-end{
	height: 17.5rem;
	background: url(image/sce/header.png) no-repeat 50% 50%;
	background-size: 100% 100%;
}
main{
	padding:0 15%;
	background: #fafafa;
}
/*main-top*/
.main-top{
	display: flex;
	justify-content: flex-start;
	font-size: 1.5rem;
	height: 5rem;
	line-height: 5rem;
	font-weight: bold;
	background: #fafafa;
}
.main-top-left a{
	color: #000;
}
.main-top-left a:hover{
	color: #000;
}
.main-top-right{
	color: #29b078;
}
.main-top p{
	margin: 0;
}
/*main*/
.main{
	display: flex;
}
/*main-left*/
.main-left{
	width:30%;
	height: 53.5rem;
	border: 1px solid #ededed;
	background-color: #fff;
}
.main-left p{
	margin: 0;
	height: 5rem;
	line-height: 5rem;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid #e6e6e6;
}
.main-left-link{
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}
.main-left-1{
	height: 4rem;
	padding: 0;
	line-height: 4rem;
}
.main-left-1 a{
	position: relative;
	left: 40%;
	text-align: left;
	font-size: 1.5rem;
	font-weight: bold;
	padding-left: 1.5rem;
	color: #29b078;
	background: url(image/sce/no.png) no-repeat 0% 50%;
}
.main-left-1 a:focus{
	text-decoration: none;
	color: #29b078;
}

.main-left-1 a:hover {
	padding-left: 1.5rem;
	text-decoration: none;
	color: #ff650e;
	background: url(image/sce/yes.png) no-repeat 0% 50%;
}

/*main-right*/
.right-fix{
	flex: 1;
	margin-left: 2rem;
	margin-bottom: 2rem;
	border: 1px solid #eaeaea;
	background-color: #fff;
}
.main-right-top{
	font-size: 1.7rem;
	padding: 2rem 3rem 2rem 30%;
	color: #999;
	border-bottom: 1px solid #eaeaea;
	background: url(image/sce/tudou.png) 10% 50% no-repeat;
}
.main-right-other{
	padding: 2rem 3rem;
	font-size: 1.7rem;
	color: #999;
}
.main-right-other p{
	text-indent: 2.5rem;
	margin-bottom: 2rem;
}
/*footer*/
footer{
	padding: 0 15%;
	color: #fff;
	background: #29b078;
}
footer a{
	padding: .5rem 0;
	color: #fff;
}
footer a:hover, footer a:focus{
	color: #FFF;
	text-decoration: none;
}
footer a:hover{
	border-bottom: .15rem solid #fff;
}
.footer-top{
	display: flex;
	justify-content: space-between;
	font-size: 1.5rem;
	height: 15rem;
	padding: 3rem 0;
	border-bottom: .1rem solid #32c086;
}
.footer-top-left{
	display: flex;
	justify-content: space-between;
	width: 50%;
}
.footer-top-left-1{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.footer-top-left-2{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.footer-top-right{

	text-align: top;
	background: url(image/three/code.png) no-repeat 50% 100%;
}
.footer-end{
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	font-size: 1.5rem;
	border-top: 1px solid #32c086;
	color: #fff;
	background: #29b078;
}
